/*
    File: Main.css
 * Names: Chloe Zhang, Matt Cerrato, Baron Wang
 * Class: CS 361
 * Project 5
 * Date: March 7
*/


/* Set compile button color to light blue */
#compileButton{
    -fx-background-color: LightBlue;
}

/* Set compile & run button color to light green */
#compileAndRunButton {
    -fx-background-color: LightGreen;
}

/* Set stop button color to light red */
#stopButton {
    -fx-background-color: #ffaaaa;
}

/* Set general styling of the button class */
.button {
    -fx-border-color: Black;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

/* Make font size to 10 */
.root {
    -fx-font-size: 10pt;
}

#mainArea{
    -fx-border-color:Black;
}



